name: Synchronise DNS records

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
  # Synchronise once per week
  schedule:
    - cron: "0 8 * * WED"

jobs:
  # Sync records using inwx-dns-recordmaster
  sync-records:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.14"
      - name: Install inwx-dns-recordmaster
        run: pip install -r requirements.txt
      - name: Display information about inwx-dns-recordmaster
        run: inwx-dnsrm --version
      - name: Create app configuration
        run: |
          mkdir -p $HOME/.config/inwx-dns-recordmaster/
          cp config.toml $HOME/.config/inwx-dns-recordmaster/config.toml
          # Replace secrets in app config
          sed -i "s|__INWX_USER__|${{ secrets.INWX_USER }}|" $HOME/.config/inwx-dns-recordmaster/config.toml
          sed -i "s|__INWX_PASS__|${{ secrets.INWX_PASS }}|" $HOME/.config/inwx-dns-recordmaster/config.toml
      - name: Run inwx-dnsrm (dry mode in Pull Request)
        run: inwx-dnsrm sync -c records --dry
        if: github.event_name == 'pull_request'
      - name: Run inwx-dnsrm (prod mode)
        run: inwx-dnsrm sync -c records
        if: github.event_name != 'pull_request'
